.title{
    color: aliceblue;
}

.contain{
    width: 290px;
    color:aliceblue;
}



.butt{
    margin-left: 10px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
}

.Exten{
    background-color: rgb(160, 160, 160);
}